<a href="https://colab.research.google.com/github/maxwellrandolph/ISTM631---Professor-Arash/blob/master/ISTM_week_3_homework_maxwell_randolph.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thesum = 0

data = input('enter a number or enter to exit: ')
while data !='':
  number = float(data)
  thesum += number
  data = input('enter the next number: ')

print('the sum is ', thesum)

enter a number or enter to exit: 12
enter the next number: 23
enter the next number: 34
enter the next number: 444
enter the next number:
the sum is  513.0

Why Loop are tricky, bc you get into an infinate loop, bc you don't have an condition that can wrong

In [ ]:
while True:
  factorial = int(input("Enter N: "))
  if factorial >= 1:
  break
else:
  factorial * (factorial - 1)

IndentationError: ignored

In [ ]:
17%3

2

In [ ]:
17%5

2

In [ ]:
20%12

8

In [ ]:

x = float(input('Please enter x: ")
y = float(input('Please enter y: ")

ao = str(input('Apply "*, /, +, -" to x and y')
if ao == '*':
print("Answer = x * y")
if ao == '/':
print(Answer = x / y)
if ao == '+':
print(Answer = x + y)
if ao == '-':
print(Answer = x - y)
if ao != '*' or '/' or '+' or '-':
    Print('INVALID: Please enter "*, /, +, -" to receive a valid answer.')

SyntaxError: ignored

Professor I am lost with this problem. 

The question states: The variables x and y refer to numbers. Write a code segment that prompts the user for an arithmetic operator and prints the value obtained by applying that operator to x and y.

I have tried different code, but havent gotten anything to not be invalid. I've been on it for a while and just cant move on. Could I please get some direction?

In [ ]:
salaries = [20, 25, 30, 40, 67]
salaries

[20, 25, 30, 40, 67]

Professor with the coding above and below I have worked on this salaries question quite extensiveley. It has caused a bit of stress. I understand the need to work in Google Collab, rather than the Python shell or document for purposes of communicating to you my work. 

Question: Write a loop that outputs the numbers in a list named "salaries." The outputs should be formatted in a column that is right justified, with a field width of 12 and a precision of 2.

**Can I get some direction here? **
I have tried many different code, as you see above and below.

In [ ]:
>>> print('$%1.2f' % salaries)
Traceback (most recent call last):
  File "<pyshell#311>", line 1, in <module>
    print('$%1.2f' % salaries)
TypeError: must be real number, not list
>>> salaries.rjust(0,50)
Traceback (most recent call last):
  File "<pyshell#312>", line 1, in <module>
    salaries.rjust(0,50)
AttributeError: 'list' object has no attribute 'rjust'
>>> salaries.rjust(50, '0')
Traceback (most recent call last):
  File "<pyshell#313>", line 1, in <module>
    salaries.rjust(50, '0')
AttributeError: 'list' object has no attribute 'rjust'
>>> salaries.rjust
Traceback (most recent call last):
  File "<pyshell#314>", line 1, in <module>
    salaries.rjust
AttributeError: 'list' object has no attribute 'rjust'
>>> salaries >
SyntaxError: invalid syntax
>>> salaries >= [20, 22, 25, 44, 102]
True
>>> salaries
[20, 25, 30, 40, 67]
>>> align.salaries
Traceback (most recent call last):
  File "<pyshell#318>", line 1, in <module>
    align.salaries
NameError: name 'align' is not defined
>>> align(salaries)
Traceback (most recent call last):
  File "<pyshell#319>", line 1, in <module>
    align(salaries)
NameError: name 'align' is not defined
>>> print("$%12.2f" %salaries)
Traceback (most recent call last):
  File "<pyshell#320>", line 1, in <module>
    print("$%12.2f" %salaries)
TypeError: must be real number, not list
>>> for eachPass in salaries(1)
SyntaxError: invalid syntax
>>> for eachPass in salaries(5)
SyntaxError: invalid syntax
>>> for eachPass in salaries
SyntaxError: invalid syntax
>>> list(range(salaries))
Traceback (most recent call last):
  File "<pyshell#324>", line 1, in <module>
    list(range(salaries))
TypeError: 'list' object cannot be interpreted as an integer
>>> for value in "salaries"
SyntaxError: invalid syntax
>>> for value in "salaries":
	print(value, end = " ")

	
s a l a r i e s 
>>> for value in (salaries):
	print(value, end = " ")

	
20 25 30 40 67 
>>> for value in ("$%12.2f" % salaries):
	print(value, end = " ")

	
Traceback (most recent call last):
  File "<pyshell#332>", line 1, in <module>
    for value in ("$%12.2f" % salaries):
TypeError: must be real number, not list
>>> for exponent in in ("$%12.2f" % salaries):
	print(exponent, end = " ")
	
SyntaxError: invalid syntax
>>> for exponentin ("$%12.2f" % salaries):
	print(exponent, end = " ")
	
SyntaxError: invalid syntax
>>> for exponents in range(salaries):
	print("%12.2d" % (exponent, end = " ")
	      
SyntaxError: invalid syntax
>>> for exponents in range(salaries):
	print("%12.2d" % (exponent, 5**exponent))

	
Traceback (most recent call last):
  File "<pyshell#340>", line 1, in <module>
    for exponents in range(salaries):
TypeError: 'list' object cannot be interpreted as an integer
>>> 
>>> 
>>> 
>>> print ' salaries F'
SyntaxError: Missing parentheses in call to 'print'. Did you mean print(' salaries F')?
>>> 
>>> print(' salaries F')
 salaries F
\
>>> print(' salaries F')
 salaries F
>>> print(' S F')
 S F
>>> for S in Salaries:
	F

	
Traceback (most recent call last):
  File "<pyshell#351>", line 1, in <module>
    for S in Salaries:
NameError: name 'Salaries' is not defined
>>> CREATE TABLE table_name(
	
SyntaxError: invalid syntax
>>> CREATE TABLE table_name(
   column1 datatype,
   column2 datatype,
   column3 datatype,
   .....
   columnN datatype,
);
SyntaxError: invalid syntax
>>> mysql> CREATE TABLE EMPLOYEE(Salary_n char(20) NOT NULL);
SyntaxError: invalid syntax
>>> mydata = ("1", "20"), ("2", "25"), ("3", "40"), ("4", "55")
>>> mydata = [("1", "20"), ("2", "25"), ("3", "40"), ("4", "55")]
>>> headers = ["row", "salary"]
>>> sudo ptp3 install tabulate
SyntaxError: invalid syntax
>>> sudo pip3 install tabulate
SyntaxError: invalid syntax
>>> from tabulate import tabulate
Traceback (most recent call last):
  File "<pyshell#360>", line 1, in <module>
    from tabulate import tabulate
ModuleNotFoundError: No module named 'tabulate'
>>> print(tabulate(mydata, headers))
Traceback (most recent call last):
  File "<pyshell#361>", line 1, in <module>
    print(tabulate(mydata, headers))
NameError: name 'tabulate' is not defined
>>> pip install tabulate
SyntaxError: invalid syntax
>>> print(tabulate([["1",20], ["2",24], ["3",44]], show index="always"))
SyntaxError: invalid syntax
>>> print(tabulate([["1",20], ["2",24], ["3",44]], showindex="always"))
Traceback (most recent call last):
  File "<pyshell#364>", line 1, in <module>
    print(tabulate([["1",20], ["2",24], ["3",44]], showindex="always"))
NameError: name 'tabulate' is not defined
>>> pip install tabulate
SyntaxError: invalid syntax
>>> pip install tabulate --user
SyntaxError: invalid syntax

SyntaxError: ignored

In [ ]:
salaries = [10, 20, 25, 30, 45, 65]
>>> for salaries in range(10,66):
	print(salaries)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65