<a href="https://colab.research.google.com/github/maxwellrandolph/ISTM631---Professor-Arash/blob/master/Week_2_ISTM631.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/maxwellrandolph/ISTM631/master/Abstraction%20Paragraph%20-%20Week%202%20Update?token=AQ4UQGYQT3KLDZ5WFPXLQA27LJBDI'

#load data into a pandas dataframe
df = pd.read_cvs(url)
df.head()

AttributeError: ignored

In [ ]:
import sys

In [ ]:
import sys

import pandas

import pandas as pd


url = 'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv'

#load data into pandas dataframe
df = pd.read_csv(url)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

**Notes from video class session sent to us on 9/8/2020**

**Review**: Cover basics and give ability to understand code - be able to read the code and understand it. Practice. Be familiar with code. Solve problems with Python. 

Last week: python in general: syntax error, objects in python
**object oriented language**: Benefit-If we solve the problem for one object, the objects that are the same type can also be solved with the same solution
**Function based**: need to write individual functions

Covert from one object to another - types of data

**strings** - anything between quotation marks

text analytics -

**indexing:** refers to the place the specific characters stand. This can be a list of numbers, variables, etc, and the index refers to a specific place (stance) in that list or (value)

Name[0]
Name[1]

In [ ]:
Name = 'Maxwell Randolph'

In [ ]:
print(name[0])

M

In [ ]:
print(name[1])

a

**Negative Indexing:**

In [ ]:
print(name[-1])

h

starts at the end

'
'
'
''
'
'
'
'

**Slicing**: taking apart or cutting a strong
# refer to any part of the string

In [ ]:
Name = 'Maxwell Randolph'
print(Name[0:4])

Maxw

'
'
'
'
'
'
'
'

**Strides:** This will take peak ever # of character you want for the amount number of characters you want

In [ ]:
Name[0:9:3]

'Mwl'

'
'
'
'
'
'
'

Escape Sequences - sequences that add spacing to the code
backslashs will make code go to the next line
/t backslash t TAB
/n backslash n NEXT Line
spacial characters
**Will ask, what are escape sequences**

function - any arguments that make output happen - input and output

method - another way to manipulate data

In [ ]:
print(name)

Maxwell Randolph

In [ ]:
B = Name.upper()

print(B)

MAXWELL RANDOLPH

apply something to variable to change it in a way and create new variable to give a result or not. It does not nessisarily change the variable. Methods are defined as specific funtion on specific object. The upper method has been defined(something -s

Methods are funtions or operation that will define(are applied) for specific types of object.

In [ ]:
'test'.upper()

'TEST'

They have an input, they have an out, and are usually applied to a specific object. Use to manipulate

Upper is **BUILT IN** FUCTION also len(name) is built in

In [ ]:
len(name)

16

length

In [ ]:
C = Name.replace('Maxwell', 'M.')

C

'M. Randolph'

In [ ]:
Name.find()

Consider the variable G, and find the first index of the sub-string snow: 
find the number of words snow is away from the beggining


G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \ Its fleece was white as snow And everywhere that mary went Mary went, Mary 
went \ 
Everywhere that Mary went the Lamb was sure to go"

In [ ]:
fname = 'Maxwell'
lname = 'Randolph'
print(fname) 
'\n'
print(lname)

Maxwell
Randolph

**Tuples** - list of variables - any data sets, text, etc,anything more than one valaue is a tuple.

In [ ]:
tuple1 = ('disco', 10, 1.2, True)

tuple1

('disco', 10, 1.2, True)

In [ ]:
type(tuple1)

tuple

immutable-->tuples are not immutable, but they are not mutuable
once you define your tuple you cannot change or update it.

list-->same but you can change them

tuples are used when you want to create something new. global variable - unchanging

when you want to solve a problem you use a list

In [ ]:
tuple1[0]

'disco'

In [ ]:
type(tuple1[2])

float

In [ ]:
tuple2 = tuple1 + ('hard rock', 10)
tuple2

('disco', 10, 1.2, True, 'hard rock', 10)

In [ ]:
tuple2[0:3]

('disco', 10, 1.2)

STRIDE^^^

In [ ]:
test1 = (1,2,3,4,5,6,3,2)

In [ ]:
test2 = sorted(test1)

test2

[1, 2, 2, 3, 3, 4, 5, 6]

SORTING^^^

Nested Tuple - tuple within a tuple

In [ ]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [ ]:
T = NestedT[2]

T

('pop', 'rock')

In [ ]:
type(T)

tuple

In [ ]:
T2 = NestedT[4][1][0]

T2

1

think about them as little things within eachother

In [ ]:
T3 = NestedT[2][1][2]

T3

'c'

**(((List)))** - you can change and update a list, that is the difference between them and tuples. you can update a list, which is parenthesis

**[[[Tuplet]]]**--we are using [brackets] instead of parenthasis
you cannot update a tuple,

In [ ]:
F = 2 + 'MAXIMO'

F

TypeError: ignored

In [ ]:
T = 2 * ((fname)+(lname))
T

'MaxwellRandolphMaxwellRandolph'

Its a good ideas to come up with conditional statements that can tell you what you are doing is correct and incorrect
conditions to test if certain statements are correct

In [ ]:
L =['Maximo', 1, 2, [1,2]]

type(L)

list

list - you can change and update lists

In [ ]:
L.extend(['test223', 12])

L

['Maximo', 1, 2, [1, 2], 'test223', 12]

.extend is a method

In [ ]:
L =['Maximo', 1, 2, [1,2]]

L.append(['test223' ,12])

L

['Maximo', 1, 2, [1, 2], ['test223', 12]]

append - conisders list as one element and adds to it
extend - actually added data elements - adds one element by one element

In [ ]:
['Maximo', 1, 2, [1, 2], ['test223', 12]]

['Maximo', 1, 2, [1, 2], ['test223', 12]]

In [ ]:
del(L[0])

In [ ]:
L

[2, [1, 2], ['test223', 12]]

In [ ]:
('A:B,C:D'.split(':'))

['A', 'B,C', 'D']

method applied on strings

copy and clone list -

In [ ]:
A = ['hard rock', 10, 1.2]
B = A 
print('A:' , B)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [ ]:
print(B[0])

hard rock

In [ ]:
A[0] = 'test'

In [ ]:
print('A:' , B)

A: ['test', 10, 1.2]

In [ ]:
print(B[0])

test

MEANING***Variables that we define to a list are simply names references that can be changed

In [ ]:
#clone a list(Now there are two of these Bs that are the same, one is called A[:]

B = A[:]

B

['hard rock', 10, 1.2]

In [ ]:
A[0] = 'jazz'

A

['jazz', 10, 1.2]

In [ ]:
B

['hard rock', 10, 1.2]

lists - mutable - you can change them

Dictionaries - keys & values - they are not sorted generally. it is printed in an order, but there are no automatic sorting or order. everything is sequenced, but nothing is ordered

key - like an address or relational table
keys are like columns in excel - underneath the column is the value

Keys--> attributes & values we have - like a graph -relational data base - means we have keys that relate to different date point

In [ ]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}

Dict

{(0, 1): 6,
 'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5}

Next: Logical operation and examples of (and or)
sets
for 
why
if